{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="row">
        <div class="small-12 columns">
            <div class="panel text-center" id="current-video">
                <span class="fa fa-spinner fa-pulse"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <div id="queue-container" class="panel">
                <h3 class="text-center">Liste d'attente</h3>

                <div class="row">
                    <div class="small-7 columns">Durée de la file</div>
                    <div id="queue-total-duration" class="small-5 columns text-right">0s</div>
                </div>
                <div class="row">
                    <div class="small-7 columns">Ma vidéo dans</div>
                    <div id="queue-my-duration" class="small-5 columns text-right">0s</div>
                </div>
                <button class="full-width" id="add-video-button" disabled="disabled" data-reveal-id="add-video-modal"><span class="fa fa-spinner fa-pulse"></span></button>
                <table id="queue" class="full-width scrollable-y">
                    <thead>
                    <tr>
                        <th class="text-center">Utilisateur</th>
                        <th>Titre</th>
                    </tr>
                    </thead>
                    <tbody id="queue-items">
                    <tr>
                        <td colspan="4" class="text-center"><span class="fa fa-spinner fa-pulse"></span></td>
                    </tr>
                    </tbody>
                </table>

                <div id="add-video-modal" class="reveal-modal small" data-reveal aria-hidden="true" role="dialog">
                    <h2>Ajouter une vidéo</h2>

                    <p>
                        <span class="fa fa-fw fa-warning"></span> La vidéo ne doit pas dépasser 3m 30s.<br/>
                        <span class="fa fa-fw fa-warning"></span> Une seule vidéo par personne dans la file d'attente<br/>
                        <span class="fa fa-fw fa-warning"></span> La même vidéo ne peut être qu'une fois dans la file d'attente
                    </p>

                    <div class="row">
                        <div class="small-12 columns">
                            <label>
                                Adresse de la vidéo Youtube
                                <input id="add-video-form-url" class="full-width" type="url" placeholder="Exemple: https://www.youtube.com/watch?v=dQw4w9WgXcQ"/>
                            </label>
                        </div>
                        <div class="small-12 columns">
                            <button id="add-video-form-submit" class="full-width" type="submit">Envoyer</button>
                        </div>
                    </div>

                    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                </div>
                <div id="result-add-video-modal" class="reveal-modal small" data-reveal aria-hidden="true" role="dialog">
                    <h2 id="result-add-video-modal-title">Ajouter une vidéo</h2>

                    <div class="alert-box text-center" id="result-add-video-modal-message"></div>
                    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <div class="panel">
                <button class="right" data-reveal-id="vote-help-modal"><span class="fa fa-info"></span></button>

                <h3>Votes (<span id="vote-count">0</span>)</h3>

                <p class="lead">Vous pouvez effectuer 1 seul vote par vidéo</p>
                <hr/>
                <div class="row">
                    <div class="small-4 columns text-center">
                        <span class="fa fa-fw fa-volume-up"></span> <span id="vote-volume">50%</span>
                    </div>
                    <div class="small-4 columns text-center">
                        <span class="fa fa-fw fa-heart"></span> <span id="vote-heart">0</span>
                    </div>
                    <div class="small-4 columns text-center">
                        <span class="fa fa-fw fa-refresh"></span> <span id="vote-repeat">0</span>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="small-6 columns">
                        <button id="vote-add-volume-up" class="full-width">
                            <span class="fa fa-fw fa-volume-up"></span> Fais péter le son !
                        </button>
                    </div>
                    <div class="small-6 columns">
                        <button id="vote-add-volume-down" class="full-width">
                            <span class="fa fa-fw fa-volume-down"></span> C'est trop fort !
                        </button>
                    </div>
                </div>

                <br/>

                <div class="row">
                    <div class="small-4 columns">
                        <button id="vote-add-like" class="full-width">
                            <span class="fa fa-fw fa-thumbs-up"></span> Remet moi ça !
                        </button>
                    </div>
                    <div class="small-4 columns">
                        <button id="vote-add-repeat" class="full-width">
                            <span class="fa fa-fw fa-refresh"></span> Encore et encore !
                        </button>
                    </div>
                    <div class="small-4 columns">
                        <button id="vote-add-dislike" class="full-width">
                            <span class="fa fa-fw fa-thumbs-down"></span> It's bulls**t !
                        </button>
                    </div>
                </div>

                <div id="vote-help-modal" class="reveal-modal small" data-reveal aria-hidden="true" role="dialog">
                    <h2>Fonctionnement des votes</h2>

                    <div class="row">
                        <div class="small-12 columns">
                            <h4>Le son</h4>
                            <strong>« Fait péter le son »</strong> permet de voter pour augmenter le son<br/>
                            <strong>« C'est trop fort ! »</strong> permet de voter pour baisser le son<br/>

                            <br/>

                            Pour calculer le volume du son (en %), la formule suivante est utilisée:<br/>
                            <em>pourcentage_son = 50 + ((votes_augmenter_le_son - votes_baisser_le_son) / nombre_de_votes) * 50</em><br/>

                            <br/>

                            <h4>J'aime / J'aime pas</h4>
                            <strong>« Remet moi ça ! »</strong> permet de voter pour remettre la vidéo en file d'attente.<br/>
                            <strong>« It's bulls**t ! »</strong> permet de voter pour passer la vidéo en cours.<br/><br/>
                            Pour savoir si une vidéo doit être remise en file d'attente, lorsque celle-ci est finie, on vérifie par la formule suivante :<br/>
                            <em>doit_remettre_en_file = (votes_like - votes_dislike) / nombre_de_votes > 0.5 ? TRUE : FALSE</em><br/>

                            <br/>

                            Pour savoir si une vidéo doit être passée, on vérifie par la formule suivante :<br/>
                            <em>doit_passer = (votes_like - votes_dislike) <= -10 && -(votes_like - votes_dislike) / nombre_de_votes > 0.5 ? TRUE : FALSE</em><br/>

                            <br/>

                            <h4>Repéter</h4>
                            <strong>« Encore et encore !»</strong> permet de voter pour répéter la vidéo lorsque celle-ci est finie.<br/>

                            <br/>

                            Pour savoir si une vidéo doit être répetée, on vérifie par la formule suivante :<br/>
                            <em>doit_repeter = votes_repeter / nombre_de_votes > 0.5 ? TRUE : FALSE</em><br/>

                        </div>
                    </div>

                    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <div class="alert-box notice">
                <h5><span class="fa fa-fw fa-info"></span> Pour toutes remarques ou suggestions, n'hésitez pas à venir voir Raphael De Freitas ;)</h5>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset("bundles/app/js/EpitechDJ.js") }}"></script>
    <script>
        var EpitechDJ;

        function updateCurrentVideo(user, title) {
            $("#current-video").html(
                    '<img alt="Photo" title="' + user.login + '" src="https://cdn.local.epitech.eu/userprofil/trombiview/' + user.login + '.jpg"/><br/><h3>' + user.full_name + '</h3><br/>' +
                    '<h1>' + title + '</h1>'
            );
        }

        function appendVideoInQueue(user, title) {
            $("#queue-items").append(
                    '<tr>' +
                    '<td class="text-center">' +
                    '<img alt="Photo" title="' + user.full_name + ' (' + user.login + ')" src="https://cdn.local.epitech.eu/userprofil/trombiview/' + user.login + '.jpg" style="height: 30px" />' +
                    '</td>' +
                    '<td>' + title + '</td>' +
                    '</tr>');

        }

        function setLoadingAddVideoButton() {
            var addVideoButton = $("#add-video-button");
            addVideoButton.html('<span class="fa fa-spinner fa-pulse"></span> En cours...');
            addVideoButton.attr("disabled", "disabled");
        }
        function setReadyAddVideoButton() {
            var addVideoButton = $("#add-video-button");
            $("#add-video-form-url").val('');
            addVideoButton.html('<span class="fa fa-plus"></span> Ajouter une vidéo');
            addVideoButton.removeAttr("disabled");
        }

        $(document).ready(function () {
            EpitechDJ = new EpitechDJ({
                loadCurrentVideoUri: "{{ path("app_player_current") }}",
                loadQueueUri: "{{ path("app_player_queue") }}",
                addVideoUri: "{{ path("app_video_add") }}",
                addVoteUri: "{{ path("app_vote_add") }}",
                votesUri: "{{ path("app_player_votes") }}",
                currentVideoLoaded: function (video) {
                    updateCurrentVideo(video.user, video.youtube.title);
                    if (typeof vote != "undefined" && vote != null) {
                        vote.removeClass("success");
                        vote = null;
                    }
                },
                queueLoaded: function (videos, haveToRedraw) {
                    var queueItems = $("#queue-items");
                    if (haveToRedraw)
                        queueItems.html('');
                    for (i = 0; i < videos.length; i++) {
                        appendVideoInQueue(videos[i].user, videos[i].youtube.title);
                    }
                    var duration = EpitechDJ.getQueueDuration();
                    $("#queue-total-duration").text(Math.trunc(duration / 3600) + "h " + Math.trunc((duration / 60) % 60) + "m " + Math.trunc(duration % 60) + "s");
                    duration = EpitechDJ.getQueueDuration("{{ app.user.login }}");
                    $("#queue-my-duration").text(Math.trunc(duration / 3600) + "h " + Math.trunc((duration / 60) % 60) + "m " + Math.trunc(duration % 60) + "s");
                },
                videoAdded: function (type, message) {
                    var result_add_video_modal = $("#result-add-video-modal");
                    var result_add_video_modal_message = $("#result-add-video-modal-message");
                    result_add_video_modal_message.attr("class", "");
                    result_add_video_modal_message.addClass("alert-box");
                    result_add_video_modal_message.addClass(type);
                    result_add_video_modal_message.text(message);
                    result_add_video_modal.foundation("reveal", "open");
                    setReadyAddVideoButton();
                },
                votesLoaded: function (count, volume, heart, repeat) {
                    var vote_count = $("#vote-count");
                    var vote_volume = $("#vote-volume");
                    var vote_heart = $("#vote-heart");
                    var vote_repeat = $("#vote-repeat");
                    vote_count.text(count);
                    vote_volume.text(Math.trunc(50 + (count > 0 ? (volume / count) * 50 : 0)) + "%");
                    vote_heart.text(Math.trunc(heart));
                    if (count > 0 && heart / count > 0.5)
                        vote_heart.parent().css("color", "darkgreen");
                    vote_repeat.text(Math.trunc(repeat));
                    if (count > 0 && repeat / count > 0.5)
                        vote_repeat.parent().css("color", "darkgreen");
                }
            });
            var vote = null;
            EpitechDJ.sync();
            setReadyAddVideoButton();
            $("#add-video-form-submit").click(function () {
                $("#add-video-modal").foundation("reveal", "close");
                var addVideoFormUrl = $("#add-video-form-url");
                setLoadingAddVideoButton();
                EpitechDJ.addVideo(addVideoFormUrl.val());
            });
            $("#vote-add-volume-up").click(function () {
                if (vote != null)
                    return;
                vote = $("#vote-add-volume-up");
                vote.addClass("success");
                EpitechDJ.addVote("volume_up");
            });
            $("#vote-add-volume-down").click(function () {
                if (vote != null)
                    return;
                vote = $("#vote-add-volume-down");
                vote.addClass("success");
                EpitechDJ.addVote("volume_down");
            });
            $("#vote-add-like").click(function () {
                if (vote != null)
                    return;
                vote = $("#vote-add-like");
                vote.addClass("success");
                EpitechDJ.addVote("like");
            });
            $("#vote-add-repeat").click(function () {
                if (vote != null)
                    return;
                vote = $("#vote-add-repeat");
                vote.addClass("success");
                EpitechDJ.addVote("repeat");
            });
            $("#vote-add-dislike").click(function () {
                if (vote != null)
                    return;
                vote = $("#vote-add-dislike");
                vote.addClass("success");
                EpitechDJ.addVote("dislike");
            });
        });

    </script>
{% endblock %}